// 新增一個style.scss在scss資較夾內
$primary-color: #622727;

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;

}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: rgb(146, 220, 130);
}

// ============
// 頁首
header {
    background-color: rgb(28, 112, 84);
}

header>.container>h1 {
    padding-top: 20px;
}

header>.container>a {
    color: rgb(82, 114, 114);
}

header>.container>nav>ul {
    display: flex;
    // justify-content:space-between;
}

header>.container>nav>li {
    margin-right: 30px;
}

header>.container>nav>ul>li>a {
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ========
// 內容
.img-fluid {
    width: 100%;

}

.img-rounded{
    border-radius: 8px;
}

.img-circle{
    border-radius: 100%;
}



.text-center{
    text-align: center;
}


.title a{
    color:aquamarine;
    font-size: 1.5em;
    font-weight: 700;
}

.date{
    color:$primary-color
}

h2{
    font-size: 2em;
    margin:60px auto  30px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

// 排列區
// 四欄式
.col-3 {
    width: calc(100% / 4 - 30px);
     margin: 0px 15px 40px 15px;
    /* 上右下左*/
}

// 三欄式
.col-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
}

// 兩欄式
.col-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
}


.col-8 {
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
}


.col-9 {
    width: calc(100% / 1.333333 - 30px);
    margin: 0px 15px 40px 15px;
}


// 頁尾區塊
footer{
    background: $primary-color;
    padding:40px 0px 40px 0；
}

dt{
    font-size: 1.2em;
    margin-bottom: 10px;

}
dd{
    margin-bottom: 4px;

}

dd>a{
    color: rgb(85, 164, 164);
}



// 平面設計
.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.breadcrumb a {
    color: black;
  }

.w-100{
  width:100;
}

.w-20{
    width:20%;
}

.w-80{
    width:80%;
}
 element.style{
    width: calc(100% / 1.5 -30);
    margin: 0;
 }

 .bnt-primary{
    background-color:$primary-color;
    padding:15px;
    color:black;
    display:block;
    margin-bottom: 30px;
    border-radius:4px ;
    text-align: center;

 }