// 新增一個style.scss在scss資較夾內
$primary-color: #f7c309;

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;

}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: rgb(146, 220, 130);
}

// ============
// 頁首
header {
    background-color: rgb(235, 117, 48);
}

header>.container h1 {
    padding-top: 20px;

}

header>.container h1>a {
    color: rgb(233, 193, 107);
}

header>.container nav>ul {
    display: flex;
    // justify-content:space-between;
}

header>.container nav>li {
    margin-right: 30px;
}

header>.container nav>ul>li>a {
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ========
// 內容

.img-fluid {
    width: 100%;

}

.img-rounded {
    border-radius: 8px;
}

.img-circle {
    border-radius: 100%;
}

.text-center {
    text-align: center;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.title a {
    color: rgb(72, 12, 4);
    font-size: 1.5em;
    font-weight: 700;
}

.date {
    color: #ac6610
}

h2 {
    font-size: 2em;
    margin: 60px auto 30px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}



// 排列區star//

// // 四欄式
// .col-3 {
//     width: calc(100% / 4 - 30px);
//     margin: 0px 15px 40px 15px;
//     /* 上右下左*/
// }

// 三欄式
// .col-4 {
//     width: calc(100% / 3 - 30px);
//     margin: 0px 15px 40px 15px;
// }

// // 兩欄式
// .col-6 {
//     width: calc(100% / 2 - 30px);
//     margin: 0px 15px 40px 15px;
// }

// .col-8 {
//     width: calc(100% / 1.5 - 30px);
//     margin: 0px 15px 40px 15px;
// }

// .col-9 {
//     width: calc(100% / 1.33333333333 - 30px);
//     margin: 0px 15px 40px 15px;
// }

// 排列區end******************



// 響應式設定col圖面 star

// 手機板
@for $i from 1 through 12 {
    .col-#{$i} {
        --num:calc(12/#{$i});
        width: calc(100% /var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

// 手機結束

// 768px star 平板
@media(min-width:768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            --num:calc(12/#{$i});
            width: calc(100% /var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

// 768px end

// 1200px star1 電腦版
@media(min-width:1200px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            --num:calc(12/#{$i});
            width: calc(100% /var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

// 1200px end

@media (min-width: 768px) {
    .order-md-1 {
        order: -1;
    }
}

// 響應式設定end







// 頁尾區塊
footer {
    background: $primary-color;
    padding: 40px 0px 40px 0；
}

dt {
    font-size: 1.2em;
    margin-bottom: 10px;

}

dd {
    margin-bottom: 4px;

}

dd>a {
    color: rgb(85, 164, 164);
}



// 平面設計
// 麵包屑
.breadcrumb {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.breadcrumb a {
    color: black;
}

.w-100 {
    width: 100;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

// element.style {}

.btn-primary {
    background-color: rgb(243, 180, 21);
    padding: 15px;
    color: black;
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;

}

.btn-primary:hover {
    background: black;
    color: burlywood
}

.text-primary {
    color: #bdb3a7;
}

.img-wrap {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.img-overlay {
    // overflow: hidden;
    border-radius: 8px;
}


.img-wrap img {
    vertical-align: top;
    transform: all 0.5s;
}

.img-wrap img:hover {
    transform: scale(1.5);
}

.icon-new {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: cornsilk;
    border-radius: 100%;
    left: -25px;
    top: -25px;
    background-color: green;

}

.flex-space-between {
    justify-content: space-between;

}

//小於767px以上執行star手機版********
@media(max-width:767px) {

    // icon-meun

    // h1 {
    //     // width: 85%;
    //     // background-color: darkgreen;
    //     // display: block;

    // }

    .icon-menu {
        // float: right;
        width: 15%;
        display: block;
        background-color: rgb(8, 85, 172);
        color: azure;
        line-height: 60px;
        text-align: center;
    }

    header {
        position: relative;
    }

    header>.container nav {
        width: 100%;
        position: absolute;
        top: 60px;
        background-color:rgb(8, 85, 172);
        // display: none;
        //需要的可以使用以下程式碼
        // position: fixed;
        // top:0px;
        // height: 100vh;
        // z-index: 999;

    }

    // css menu動畫star
    header>.container nav {
        //viewport width
        height:100vh;
        left: -100vw;
        // 上面這一行等二層選單完成再開啟
         // opacity: 0;
        transition: all .3s;
    }

    // 之後再搭配javascript要改寫選取器的寫法
    .icon-menu:hover + nav {
        left: 0px;
        // opacity: 1;
        
    }
// css menu動畫end

    header>.container nav.active {
        display: block;
    }


    header>.container nav>ul {
        display: block;
        // position: absolute;
    }

    header>.container nav>ul>li {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid $primary-color
    }

    header>.container nav>ul>li>a {
        display: block;

    }

    // .overflower-hidden {
    //     overflow: hidden;
    // }

}

// max-width:767 end*******



// 超過768px以上執行
@media(min-width:768px) {
    .icon-menu {
        display: none;
    }
}

// min-width:768 end******

.titlebutton {
    display: flex;
    width: 100%;
}

.titlebuttona {
    display: block;
    padding: 5px 20px 5px 20px;
    background-color: #f7c309;
    margin-right: 30px;

}