// 新增一個style.scss在scss資較夾內
$primary-color: #622727;

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;

}


.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: rgb(146, 220, 130);
}

// ============
// 頁首
header {
    background-color: rgb(28, 112, 84);
}


header>.container>h1 {
    padding-top: 20px;
}

header>.container>a {
    color: rgb(82, 114, 114);
}

header>.container>nav>ul {
    display: flex;
    // justify-content:space-between;
}

header>.container>nav>li {
    margin-right: 30px;
}

header>.container>nav>ul>li>a {
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ========
// 內容
.img-fluid {
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

.col-4 {
    width: 33.33333%;
}