// 新增一個style.scss在scss資較夾內
$primary-color: #622727;

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;

}


.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: rgb(146, 220, 130);
}

// ============
// 頁首
header {
    background-color: rgb(28, 112, 84);
}


header>.container>h1 {
    padding-top: 20px;
}

header>.container>a {
    color: rgb(82, 114, 114);
}

header>.container>nav>ul {
    display: flex;
    // justify-content:space-between;
}

header>.container>nav>li {
    margin-right: 30px;
}

header>.container>nav>ul>li>a {
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ============
// 排列區
.col-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
}
/* 上右下左*/

.col-4 {
    width: calc(100% / 3 - 30px);
    margin: 40px 10px 40px 10px;
}

.col-6 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
}

// ============
// 頁尾區塊
.footer-row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}


footer{
    background: $primary-color;
    padding:40px 0px 40px 0；
}

dt{
    font-size: 1.2em;
    margin-bottom: 10px;

}
dd{
    margin-bottom: 4px;

}

dd>a{
    color: azure;
}


// ============
//平面內頁區塊

main>div>ul>li>{
    box-sizing: border-box;
    
}

main>div>ul>li>a {
    display: block;
    background-color: rgb(243, 180, 21);
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.main-row{ 
display: flex;
flex-direction: row;


}
.left{
    width: 20%;
}
.right{
    width: 80%;
}

.img-row{

    display: flex;
    flex-wrap: wrap;

}

.img-circle{
    border-radius: 40px;
}

.img-fluid {
    width: 100%;

}

