// 設定變數$開頭

$primary-color:rgb(187, 79, 79);


body{
background-color: aquamarine;
font-family: Impact, "微軟正黑體";
color: $primary-color;
}

.bnt-primary{
    background-color: $primary-color;
    color: darkblue;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 2px;

}