@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

header {
  background-color: #1c7054;
}

header > .container > h1 {
  padding-top: 20px;
}

header > .container > a {
  color: #527272;
}

header > .container > nav > ul {
  display: flex;
}

header > .container > nav > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: #622727;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
}

/* 上右下左*/
.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

footer {
  background: #622727;
  padding: 40px 0px 40px 0；;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: azure;
}

ul,
ol {
  list-style-type: none;
}

.main-row {
  display: flex;
  flex--direction: row;
}

.main-colum {
  display: flex;
  flex-direction: column;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
}