doctype html
// ctrl + a
// ctrl+c
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title emma
    link(rel='stylesheet' href='public/css/styles.css')
  body
    header.overflower-hidden
      .container
        a.icon-menu(href="#") menu
        h1
          a(href='index.html') Emma's portfolio
        nav
          ul
            li
              a(href='#') 關於我/
            li
              a(href='desgin-list.html') 平面作品/
            li
              a(href='#') 網頁設計作品/
            li
              a(href='#') 聯絡我
    // 頁首結尾
    // .col-4*7>a>img[src="https://baconmockup.com/300/300" class="img-fluid img-rounded"]^p.title.text-center>a{作品標題$}^p.date.text-center{2022-6-15}
    img.img-fluid(src='http://via.placeholder.com/1920x550' alt='')
    .container.text-center
      h1 最新作品
      .row
        .col-4
          a(href='#')
          img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
          p.title.text-center
            a(href='#') 貓咪1號
          p.description.text-center 內容
          p.date.text-center 2022-6-15
        .col-4
          a(href='#')
          img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
          p.title.text-center
            a(href='#') 貓咪2號
          p.description.text-center 內容
          p.date.text-center 2022-6-15
        .col-4
          a(href='#')
          img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
          p.title.text-center
            a(href='#') 貓咪3號
          p.description.text-center 內容
          p.date.text-center 2022-6-15
        .col-4
          a(href='#')
          img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
          p.title.text-center
            a(href='#') 貓咪4號
          p.description.text-center 內容
          p.date.text-center 2022-6-15
        .col-4
          a(href='#')
          img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
          p.title.text-center
            a(href='#') 貓咪5號
          p.description.text-center 內容
          p.date.text-center 2022-6-15
        .col-4
          a(href='#')
          img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
          p.title.text-center
            a(href='#') 貓咪6號
          p.description.text-center 內容
          p.date.text-center 2022-6-15
    // container
    // footer>.container>dl*5>dt{標題$$}>dd*4>a{項目$$}^^P.COPY
    footer
      .container.footerbgc
        .row
          dl.col-3
            dt 標題01
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題02
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題03
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題04
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
        p.copyright.text-center copyright
