doctype html
| ctrl + a
| ctrl+c
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title emma
  link(rel='stylesheet' href='public/css/styles.css')
header
  .container
    h1
      a(href='index.html') Emma&apos;s portfolio
    nav
      ul
        li
          a(href='#') /&#x95DC;&#x65BC;&#x6211;/
        li
          a(href='desgin-list.html') &#x5E73;&#x9762;&#x4F5C;&#x54C1;/
        li
          a(href='#') &#x7DB2;&#x9801;&#x8A2D;&#x8A08;&#x4F5C;&#x54C1;/
        li
          a(href='#') &#x806F;&#x7D61;&#x6211;/
// 頁首結尾
// .col-4*7>a>img[src="https://baconmockup.com/300/300" class="img-fluid img-rounded"]^p.title.text-center>a{作品標題$}^p.date.text-center{2022-6-15}
img.img-fluid(src='http://via.placeholder.com/1920x550' alt='')
.container.text-center
  h1 &#x6700;&#x65B0;&#x4F5C;&#x54C1;
  .row
    .col-4
      a(href='#')
      img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
      p.title.text-center
        a(href='#') &#x8C93;&#x54AA;1&#x865F;
      p.description.text-center &#x5167;&#x5BB9;
      p.date.text-center 2022-6-15
    .col-4
      a(href='#')
      img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
      p.title.text-center
        a(href='#') &#x8C93;&#x54AA;2&#x865F;
      p.description.text-center &#x5167;&#x5BB9;
      p.date.text-center 2022-6-15
    .col-4
      a(href='#')
      img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
      p.title.text-center
        a(href='#') &#x8C93;&#x54AA;3&#x865F;
      p.description.text-center &#x5167;&#x5BB9;
      p.date.text-center 2022-6-15
    .col-4
      a(href='#')
      img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
      p.title.text-center
        a(href='#') &#x8C93;&#x54AA;4&#x865F;
      p.description.text-center &#x5167;&#x5BB9;
      p.date.text-center 2022-6-15
    .col-4
      a(href='#')
      img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
      p.title.text-center
        a(href='#') &#x8C93;&#x54AA;5&#x865F;
      p.description.text-center &#x5167;&#x5BB9;
      p.date.text-center 2022-6-15
    .col-4
      a(href='#')
      img.img-fluid.img-circle(src='https://loremflickr.com/300/300' alt='')
      p.title.text-center
        a(href='#') &#x8C93;&#x54AA;6&#x865F;
      p.description.text-center &#x5167;&#x5BB9;
      p.date.text-center 2022-6-15
// container
// footer>.container>dl*5>dt{標題$$}>dd*4>a{項目$$}^^P.COPY
footer
  .container.footerbgc
    .row
      dl.col-3
        dt &#x6A19;&#x984C;01
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-3
        dt &#x6A19;&#x984C;02
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-3
        dt &#x6A19;&#x984C;03
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-3
        dt &#x6A19;&#x984C;04
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
    p.copyright.text-center copyright
