doctype html
// ctrl + a
// ctrl+c
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title emma 網頁設計
    link(rel='stylesheet' href='public/css/styles.css')
  body
    header.overflower-hidden
      .container
        a.icon-menu(href="#") menu
        h1
          a(href='index.html') Emma's portfolio
        nav
          ul
            li
              a(href='aboutus.html') 關於我/
            li
              a(href='desgin-list.html') 平面作品/
            li
              a(href='web-desgin-list.html') 網頁設計作品/
            li
              a(href='contactus.html') 聯絡我

    .container
      .row
        ul.col-12.breadcrumb
          li
            a(href='index.html') 首頁
          | &nbsp;&gt;&nbsp;
          li
            a(href='web-desgin-list.html') 網頁作品
        
        
        aside.col-12.col-md-3.col-lg-2
          ul
            li
              a.btn-primary(href='') 分類
            li
              a.btn-primary(href='') 作品1
            li
              a.btn-primary(href='') 作品2
            li

        main.col-12.col-md-9.col-lg-10
          .row
            // work start
            .col-12.col-md-6.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://loremflickr.com/300/300', alt='')
              a.text-primary(href='#') 商品名稱1
            // work end
            // work start
            .col-12.col-md-6.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://loremflickr.com/300/300', alt='')
                span.icon-new new
              a.text-primary(href='#') 商品名稱2
            // work end
            // work start
            .col-12.col-md-6.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://loremflickr.com/300/300', alt='')
                span.icon-new new
              a.text-primary(href='#') 商品名稱3
            // work end
            // work start
            .col-12.col-md-6.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://loremflickr.com/300/300', alt='')
              a.text-primary(href='#') 商品名稱4
            // work end
            // work start
            .col-12.col-md-6.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://loremflickr.com/300/300', alt='')
                span.icon-new new
              a.text-primary(href='#') 商品名稱5
            // work end
            // work start
            .col-12.col-md-6.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://loremflickr.com/300/300', alt='')
              a.text-primary(href='#') 商品名稱6
            // work end
   
    // container
    // footer>.container>dl*5>dt{標題$$}>dd*4>a{項目$$}^^P.COPY
   
  .container 
    .row

   
   
   
    footer
      .container.footerbgc
        .row
          dl.col-3
            dt 標題01
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題02
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題03
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題04
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
        p.copyright.text-center copyright